{% extends 'a_classroom/base.html' %}
{% load static %}
{% block content %}
<div class="h-full overflow-auto overflow-x-hidden">
    {% if subjects %}
        <ul class="class-grid">
            {% for subject in subjects %}
                <li>
                    <a href="{% url 'a_classroom:v' subject.subject_id %}?from={{ request.path }}">
                        <div class="flex flex-col justify-center p-[50px] text-center transition rounded hover:bg-gray-300 shadow-xl
                        border border-black">
                            <h1 class="text-lg font-bold hover:text-white">{{ subject.course_code }}</h1>
                            <p class="hover:text-white">{{ subject.section.name }}</p>
                            <p class="hover:text-white">{{ subject.instructor.get_full_name }}</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="flex items-center justify-center w-full h-full">
            <img src="{% static 'mysite_images/noclassv4.png' %}" alt="No subject available" class="object-contain opacity-75 w-100 h-100">
        </div>
    {% endif %}
</div>
{% endblock %}
