<table id="pending-table" class="w-full table-fixed">
    <thead class="h-16 bg-gray-800 text-white">
        <tr>
            <th class="border-r border-solid">Email Address</th>
            <th class="border-r border-solid">User Role</th>
            <th class="border-r border-solid">Action</th>
        </tr>
    </thead>
    <tbody class="flex-1">
        {% for pending in pending_users %}
            <tr class="grow text-center h-20">
                <td class="whitespace-nowrap overflow-hidden text-ellipsis">{{ pending.email }}</td>
                <td class="whitespace-nowrap overflow-hidden text-ellipsis">{{ pending.userprofile.role }}</td>
                <td class="flex flex-col gap-2 p-2">
                    <form class="m-0">
                        {% csrf_token %}
                        <button class="cursor-pointer rounded h-10 w-20 bg-gray-800 hover:bg-gray-600 text-white"
                                id="approve-button"
                                hx-post="{% url 'a_classroom:approve' pending.id %}"
                                hx-trigger="click"
                                hx-target="#pending-table"
                                hx-swap="innerHTML">Approve</button>
                    </form>

                    <form class="m-0">
                        {% csrf_token %}
                        <button class="cursor-pointer rounded h-10 w-20 bg-red-600 hover:bg-red-500 text-black"
                                hx-post="{% url 'a_classroom:delete-pending' pending.id %}"
                                hx-trigger="click"
                                hx-target="#pending-table"
                                hx-swap="innerHTML">Delete</button>
                    </form>
                </td>
            </tr>
        {% empty %}
            <tr class="grow text-center h-20">
                <td></td>
                <td class="py-4 text-center">No pending user available.</td>
                <td></td>
            </tr>
        {% endfor %}
    </tbody>
</table>