{% extends 'a_classroom/base.html' %}
{% block title %} {{ subject.course_code }} {% endblock %}
{% block content %}
    {% if subject %}
<nav class="sticky top-0 z-50 flex flex-col h-full w-full bg-white shadow-xl">
        <!-- Navigation Links -->
        <div class="flex justify-between border-b border-gray-500 p-6 text-black text-sm font-medium sm:text-base">
            <ul class="flex gap-6">
                <li>
                    <a class="relative pb-2 text-gray-500 transition-all duration-300 ease-in-out hover:text-blue-600 hover:after:w-full after:absolute after:-bottom-1 after:left-0 after:h-0.5 after:w-0 after:bg-blue-600 after:transition-all after:duration-300"
                    id="subject"
                    href="{% url 'a_classroom:v' subject.subject_id %}"
                    hx-get="{% url 'a_classroom:v' subject.subject_id %}" 
                    hx-target="#output" 
                    hx-swap="innerHTML"
                    hx-trigger="load delay:500ms">
                        Subject
                    </a>
                </li>
                <li>
                    <a class="relative pb-2 text-gray-500 transition-all duration-300 ease-in-out hover:text-blue-600 hover:after:w-full after:absolute after:-bottom-1 after:left-0 after:h-0.5 after:w-0 after:bg-blue-600 after:transition-all after:duration-300"
                    id="students"
                    href="{% url 'a_classroom:v' subject.subject_id %}"
                    hx-get="{% url 'a_classroom:v' subject.subject_id %}"
                    hx-target="#output"
                    hx-swap="innerHTML"
                    hx-trigger="click">
                        People
                    </a>
                </li>
            </ul>
        </div>

    <!-- Content Area - SEPARATE from header -->
    <div id="output" class="w-full overflow-y-auto flex-1 scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100">
        <p class="text-gray-500">Loading...</p>
    </div>
</nav>     
    {% endif %}
{% endblock %}