<form 
  class="w-full max-w-xs"
  hx-post="{% url 'c_activities:edit-grade' submission.id %}?type=activity" 
>
  {% csrf_token %}
  <input type="hidden" name="subject_id" value="{{ submission.activity.subject.subject_id }}">
  <input type="hidden" name="activity_id" value="{{ submission.activity.activity_id }}">
  <input 
    type="number" 
    name="new_score" 
    value="{{ submission.score }}"
    class="border border-solid rounded px-3 py-2 w-[30%] mb-2 text-center"
    required
  >
  
  <div class="flex w-full space-x-2">
    <button 
      type="submit" 
      name="action" 
      value="confirm"
      class="py-1 px-2 text-white bg-gray-800 cursor-pointer rounded hover:bg-gray-950"
    >
      Confirm
    </button>
    
    <button 
      type="submit" 
      name="action" 
      value="cancel"
      class="py-1 px-2 text-white bg-red-600 cursor-pointer rounded hover:bg-red-800"
    >
      Cancel
    </button>
  </div>
</form>
