<form method="POST" action="{% url 'c_activities:edit-activity' activity.activity_id %}" 
class="flex flex-col gap-4 bg-gray-200 rounded-lg border border-gray-200 w-full mx-auto">
  {% csrf_token %}
  <div class="pb-3 text-left text-sm font-medium text-gray-800 sm:text-base">
    <span class="font-bold">Edit Activity</span>
    <p class="text-sm text-gray-800">Update the details below and click Save when finished.</p>
  </div>

  <div class="pb-3 text-left text-sm font-medium text-gray-800 sm:text-base">
    <label for="title" class="font-bold">Title</label>
    <input class="border border-solid border-black w-full p-2 rounded bg-gray-100 text-sm font-medium text-gray-800 sm:text-base focus:bg-gray-200" type="text" name="title" id="title" value="{{ activity.title }}" required>
  </div>

  <div class="pb-3 text-left text-sm font-medium text-gray-800 sm:text-base">
    <label for="description" class="font-bold">Description</label>
    <textarea class="border border-solid w-full p-2 rounded h-32 text-sm font-medium text-gray-800 sm:text-base border-black bg-gray-100 focus:bg-gray-200" name="description" id="description" style="resize: none;" required>{{ activity.description }}</textarea>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="pb-3 text-left text-sm font-medium text-gray-800 sm:text-base">
      <label for="max_score" class="font-bold">Max score</label>
      <input class="border border-solid border-black w-full p-2 rounded bg-gray-100 text-sm font-medium text-gray-800 sm:text-base focus:bg-gray-200" type="number" name="max_score" id="max_score" value="{{ activity.max_score }}" required>
    </div>
  </div>

  <div class="pb-3 text-left text-sm font-medium text-gray-800 sm:text-base">
    <label for="due_at" class="font-bold">Due</label>
    <input class="border border-solid border-black w-full p-2 rounded bg-gray-100 text-sm font-medium text-gray-800 sm:text-base focus:bg-gray-200" type="datetime-local" name="due_at" id="due_at" value="{{ activity.due_at|date:'Y-m-d\TH:i' }}" min="{% now 'Y-m-d\TH:i' %}" required>
  </div>

  <div class="flex justify-center items-center border-solid h-auto w-full bg-gray-200 text-sm font-medium text-gray-800 sm:text-base">
    <button class="flex items-center justify-center py-2 w-32 text-white bg-gray-800 cursor-pointer rounded hover:bg-gray-950" type="submit">Save</button>
  </div>
</form>