{% extends 'a_classroom/base.html' %}
{% load static %}
{% block content %}
<div class="h-full w-full p-4 flex flex-col">
    <div class="flex-1 flex flex-col overflow-auto">
        <div class="flex-1">
            <input type="text" 
                    id="search_user"
                    name="search_user" 
                    placeholder="Search user..."
                    class="w-full h-10 px-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent bg-white">
            
            <div id="users-container" class="flex-1 w-full">
                <div id="all-user"
                        hx-get="{% url 'a_classroom:get-users' %}"
                        hx-target="#users-container"
                        hx-swap="innerHTML"
                        hx-trigger="load delay:500ms">
                </div>
                <p class="text-gray-500 mt-3">Loading users...</p>
            </div>
        </div>
    </div>
            <!-- Pagination controls -->
    <div id="users-pagination" class="flex items-center justify-between">
        <button id="users-prev-btn" class="py-2 w-32 text-white bg-gray-800 cursor-pointer rounded hover:bg-gray-950" disabled>
            Previous
        </button>
        <div id="users-page-indicator" class="text-sm text-gray-600">Page 1</div>
        <button id="users-next-btn" class="py-2 w-32 text-white bg-gray-800 cursor-pointer rounded hover:bg-gray-950" disabled>
            Next
        </button>
    </div>
</div>
{% endblock %}
