<div class="flex items-center justify-center w-full h-full">
    {% if user %}
    <div id="parent-element" class="h-full w-full max-w-full rounded sm:max-w-md md:max-w-2xl lg:max-w-3xl xl:max-w-4xl gap-4 overflow-auto">
        <div class="flex items-center justify-center text-white bg-gray-800">
            <h2 class="p-4 text-xl sm:text-2xl md:text-3xl">Edit Account</h2>
        </div>
        <hr>

        <form action="{% url 'a_classroom:edit-account' %}" method="post" class="flex flex-col items-center justify-center gap-4 p-4 sm:p-6">
            {% csrf_token %}

            <div class="flex flex-col items-center justify-center w-full pt-6 sm:pt-8 md:pt-10">
                <label for="first_name" class="mb-2 text-base font-semibold sm:text-lg md:text-lg">First Name</label>
                <input type="text" name="first_name" id="first_name" 
                    class="border border-solid border-gray-300 w-full sm:w-3/4 md:w-2/3 lg:w-1/2 p-2 rounded bg-gray-100" 
                    value="{{ user.first_name }}" required>
            </div>

            <div class="flex flex-col items-center justify-center w-full">
                <label for="last_name" class="mb-2 text-base font-semibold sm:text-lg md:text-lg">Last Name</label>
                <input type="text" name="last_name" id="last_name" 
                    class="border border-solid border-gray-300 w-full sm:w-3/4 md:w-2/3 lg:w-1/2 p-2 rounded bg-gray-100" 
                    value="{{ user.last_name }}" required>
            </div>

            <div class="flex flex-col items-center justify-center w-full">
                <label for="password" class="mb-2 text-base font-semibold sm:text-lg md:text-lg">Password</label>
                <input type="password" name="password" id="password" 
                    class="border border-solid border-gray-300 w-full sm:w-3/4 md:w-2/3 lg:w-1/2 p-2 rounded bg-gray-100">
            </div>

            <div class="flex flex-col items-center justify-center w-full">
                <label for="confirm_password" class="mb-2 text-base font-semibold sm:text-lg md:text-lg">Confirm Password</label>
                <input type="password" name="confirm_password" id="confirm_password" 
                    class="border border-solid border-gray-300 w-full sm:w-3/4 md:w-2/3 lg:w-1/2 p-2 rounded bg-gray-100">
            </div>

            <div class="flex items-center justify-center w-full pt-3">
                <div class="w-full flex flex-col items-center justify-center gap-3">
                    <button type="submit" 
                        class="flex items-center justify-center py-2 w-32 text-white bg-gray-800 cursor-pointer rounded hover:bg-gray-950">
                        Save Changes
                    </button>
                    <a href="{% url 'a_classroom:setting' %}?from={{ request.path }}" 
                       class="flex items-center justify-center py-2 w-32 text-white bg-gray-800 cursor-pointer rounded hover:bg-gray-950">
                        Back
                    </a>
                </div>
             </div>
         </form>
    </div>
    {% endif %}
</div>