<style>
	.preset-div {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.preset-button {
		background-color: hsl(0, 0%, 95%);
		border: 1px solid;
		margin-bottom: 5px;
	}
	.container-preset {
		position: absolute;
		height: auto;
		width: auto;
		top: -21rem;
		right: 15%;
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: 1px solid gray;
		background-color: hsl(0, 0%, 95%);
		border-radius: 0.3rem;

		> span {
			padding: 0.5rem 1rem;
			background-color: white;
			border: 0.1rem solid;
			width: 100%;
		}
	}

	.preset-button:hover .container-preset, .preset-button:focus .container-preset {
		display: flex;
	}
	@media screen and (min-width: 1750px) and (max-width: 1949px) {
		.container-preset {
			position: absolute;
			top: -12rem;
			right: 15%;
		}
	}
	@media screen and (min-width: 1950px) and (max-width: 2149px) {
		.container-preset {
			position: absolute;
			top: -12rem;
			right: 15%;
		}
	}
	@media screen and (min-width: 2550px) and (max-width: 2749px) {
		.container-preset {
			position: absolute;
			top: -10rem;
			right: 15%;
		}
	}

</style>
<div class="flex flex-col items-center justify-center h-[80%] w-[80%]">
	<form class="h-[80%] w-[80%] flex flex-col justify-center border-2 border-black p-6 rounded-lg create-activity-form" method="post" action="{% url 'c_activities:create-activity' %}"
		hx-post="{% url 'c_activities:create-activity' %}"
		hx-target="#create_activity"
		hx-swap="innerHTML">
		{% csrf_token %}
		<input id="subject_id" name="subject_id" hidden value="{{ subject_id }}">
		
		<div style="display: flex; gap: 10px;">
			<div style="width: 50%;" class="pb-3 text-left text-sm font-medium text-gray-800 sm:text-base">			
				<label for="id_type" class="block font-bold">Type</label>
				<select id="id_type" name="type" class="w-full border border-gray-500 rounded bg-gray-100 px-3 py-2 focus:outline-none focus:ring focus:bg-gray-200" required>
					<option value="" disabled selected>Select type</option>
					<option value="activity">Activity</option>
					<option value="quiz">Quiz</option>
				</select>
			</div>
			<div style="width: 50%;" class="pb-3 text-left text-sm font-medium text-gray-800 sm:text-base">
				<label for="id_language" class="block font-bold">Language</label>
				<select id="id_language" name="language" class="w-full border border-gray-500 rounded bg-gray-100 px-3 py-2 focus:outline-none focus:ring focus:bg-gray-200" required>
					<option value="" disabled selected>Select Language</option>
					<option value="Python">Python</option>
					<option value="Java">Java</option>
				</select>
			</div>
		</div>

		<div class="pb-3 text-left text-sm font-medium text-gray-800 sm:text-base"> 
			<label for="id_title" class="block font-bold">Title</label>
			<textarea 
				id="id_title" 
				name="id_title" 
				placeholder="Activity or Quiz Title" 
				rows="2"
				style="resize: none;"
				class="border border-solid w-full p-2 rounded h-20 text-sm font-medium text-gray-800 sm:text-base border-black bg-gray-100 focus:bg-gray-200" 
				required></textarea>
		</div>

		<div class="pb-3 text-left text-sm font-medium text-gray-800 sm:text-base">
			<label for="id_description" class="block font-bold">Description</label>
			<textarea 
				id="id_description" 
				name="id_description" 
				placeholder="Description" 
				rows="4"
				style="resize: none;"
				class="border border-solid w-full p-2 rounded h-20 text-sm font-medium text-gray-800 sm:text-base border-black bg-gray-100 focus:bg-gray-200" 
				required></textarea>
		</div>

		<div class="pb-3 text-left text-sm font-medium text-gray-800 sm:text-base flex flex-row justify-between gap-2 relative">
			<div>
				<label for="id_max_score" class="block font-bold">Max Score</label>
				<input id="id_max_score" name="id_max_score" type="number" min="1" placeholder="Maximum Score" class="border border-solid border-black w-full p-2 rounded bg-gray-100 text-sm font-medium text-gray-800 sm:text-base focus:bg-gray-200" required>
			</div>
			<div>
				<label for="id_due_at" class="block font-bold">Due</label>
				<input id="id_due_at" name="id_due_at" type="datetime-local" class="border border-solid border-black w-full p-2 rounded bg-gray-100 text-sm font-medium text-gray-800 sm:text-base focus:bg-gray-200" min="{% now 'Y-m-d\TH:i' %}" required>
			</div>
		</div>

		<div class="mb-4">
			<div class="flex justify-between items-center relative">
				<h5 class="text-lg font-semibold mb-2">
					Evaluation Criteria (up to 100%)
				</h5>
				<div class="preset-div flex flex-col">
					<div class="preset-button" tabindex="0">Use Preset
						<div class="container-preset">
							<span>
								<input type="radio" name="preset" class="container-year first-year"
								hx-post="{% url 'c_activities:check-criteria' %}"
								hx-trigger="change"
								hx-target="#criteria-total"
								hx-include=".criteria-input">
								1st Year
								Correctness: 38%
								Syntax: 37%
								Structure: 25%
							</span>
							<span>
								<input type="radio" name="preset" class="container-year first-year-1"
								hx-post="{% url 'c_activities:check-criteria' %}"
								hx-trigger="change"
								hx-target="#criteria-total"
								hx-include=".criteria-input">
								1st Year
								Correctness: 50%
								Syntax: 40%
								Structure: 10%
							</span>
							<span>
								<input type="radio" name="preset" class="container-year first-year-2"
								hx-post="{% url 'c_activities:check-criteria' %}"
								hx-trigger="change"
								hx-target="#criteria-total"
								hx-include=".criteria-input">
								1st Year
								Correctness: 70%
								Syntax: 20%
								Structure: 10%
							</span>
							<span>
								<input type="radio" name="preset" class="container-year second-year"
								hx-post="{% url 'c_activities:check-criteria' %}"
								hx-trigger="change"
								hx-target="#criteria-total"
								hx-include=".criteria-input">
								2nd Year
								Correctness: 38%
								Syntax: 37%
								Structure: 25%
							</span>
							<span>
								<input type="radio" name="preset" class="container-year second-year-1"
								hx-post="{% url 'c_activities:check-criteria' %}"
								hx-trigger="change"
								hx-target="#criteria-total"
								hx-include=".criteria-input">
								2nd Year
								Correctness: 50%
								Syntax: 35%
								Structure: 15%
							</span>
							<span>
								<input type="radio" name="preset" class="container-year second-year-2"
								hx-post="{% url 'c_activities:check-criteria' %}"
								hx-trigger="change"
								hx-target="#criteria-total"
								hx-include=".criteria-input">
								2nd Year
								Correctness: 50%
								Syntax: 30%
								Structure: 20%
							</span>
						</div>
					</div>
				</div>
			</div>
			<table class="w-full table-fixed border border-gray-300">
				<thead>
					<tr class="bg-gray-100">
						<th class="border px-2 py-1">Correctness</th>
						<th class="border px-2 py-1">Syntax</th>
						<th class="border px-2 py-1">Structure</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-center border px-2 py-1">
							<input name="criteria" 
									hx-post="{% url 'c_activities:check-criteria' %}" 
									class="border border-solid border-black w-full p-2 rounded text-center bg-gray-100 text-sm font-medium text-gray-800 sm:text-base focus:bg-gray-200 criteria-input correctness" 
									type="number" 
									min="1"
									hx-trigger="keyup changed delay:500ms"
									hx-target="#criteria-total"
									hx-include=".criteria-input"
									required>%</input>
						</td>
						<td class="text-center border px-2 py-1">
							<input name="criteria"
									hx-post="{% url 'c_activities:check-criteria' %}"  
									class="border border-solid border-black w-full p-2 rounded text-center bg-gray-100 text-sm font-medium text-gray-800 sm:text-base focus:bg-gray-200 criteria-input syntax" 
									type="number" 
									min="1"
									hx-trigger="keyup changed delay:500ms"
									hx-target="#criteria-total"
									hx-include=".criteria-input"
									required>%</input>
						</td>
						<td class="text-center border px-2 py-1">
							<input name="criteria"
									hx-post="{% url 'c_activities:check-criteria' %}"  
									class="border border-solid border-black w-full p-2 rounded text-center bg-gray-100 text-sm font-medium text-gray-800 sm:text-base focus:bg-gray-200 criteria-input structure" 
									type="number" 
									min="1"
									hx-trigger="keyup changed delay:500ms"
									hx-target="#criteria-total"
									hx-include=".criteria-input"
									required>%</input>
						</td>
					</tr>
					<tr>
						<td colspan="3" class="text-center border px-2 py-1">
							<div id="criteria-total">
								Total: <span class="font-bold">0%</span>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<button type="submit" id="create_activity" name="action" value="create_activity" style="margin: auto;" class="flex items-center justify-center py-2 w-32 text-white bg-gray-800 cursor-pointer rounded hover:bg-gray-950">Create</button>

	</form>
</div>
<script>
		let firstYear, firstYear1, firstYear2, secondYear, secondYear1, correctness, syntax, structure;1

		firstYear = document.querySelector(".first-year");
		firstYear1 = document.querySelector(".first-year-1");
		firstYear2 = document.querySelector(".first-year-2");
		secondYear = document.querySelector(".second-year");
		secondYear1 = document.querySelector(".second-year-1");
		secondYear2 = document.querySelector(".second-year-2");
		correctness = document.querySelector(".correctness");
		syntax = document.querySelector(".syntax");
		structure = document.querySelector(".structure");

		firstYear.addEventListener("change", (e) => {
			if(e.target.checked) {
				correctness.value = 38;
				syntax.value = 37;
				structure.value = 25;
			}
		});

		firstYear1.addEventListener("change", (e) => {
			if(e.target.checked) {
				correctness.value = 50;
				syntax.value = 40;
				structure.value = 10;
			}
		});

		firstYear2.addEventListener("change", (e) => {
			if(e.target.checked) {
				correctness.value = 70;
				syntax.value = 20;
				structure.value = 10;
			}
		});

		secondYear.addEventListener("change", (e) => {
			if(e.target.checked) {
				correctness.value = 38;
				syntax.value = 37;
				structure.value = 25;
			}
		});

		secondYear1.addEventListener("change", (e) => {
			if(e.target.checked) {
				correctness.value = 50;
				syntax.value = 35;
				structure.value = 15;
			}
		});

		secondYear2.addEventListener("change", (e) => {
			if(e.target.checked) {
				correctness.value = 50;
				syntax.value = 30;
				structure.value = 20;
			}
		});
</script>