{% if request.user.is_authenticated %}
    {% if request.user.userprofile.role == "Instructor" or request.user.userprofile.role == "Student" %}
        {% if subjects %}
            <ul class="text-center">
                {% for subject in subjects %}
                    <li class="block w-full">
                        <a href="{% url 'a_classroom:v' subject.subject_id %}?from={{ request.path }}"
                            class="block text-black p-4 m-2 rounded hover:bg-gray-300 border border-black">
                            <h1 class="text-base font-bold">
                                {{ subject.course_code }}
                            </h1>
                            <p>{{ subject.section.name }}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
    {% if request.user.is_staff or request.user.userprofile.role == "Dean" %}

        <div class="mt-2 p-2">
            <ul class="space-y-2">
                <li>
                    <a href="{% url 'a_classroom:get-users' %}?from={{ request.path }}" 
                       class="block p-3 text-black border border-black rounded hover:bg-gray-300">
                        <h1 class="text-base font-bold">Users</h1>
                        <p class="text-sm text-gray-600">Manage all users</p>
                    </a>
                </li>
                {% if request.user.is_staff %}
                    <li>
                        <a href="{% url 'a_classroom:pending-users' %}?from={{ request.path }}" 
                        class="block p-3 text-black border border-black rounded hover:bg-gray-300">
                            <h1 class="text-base font-bold">Pending Users</h1>
                            <p class="text-sm text-gray-600">Approve pending accounts</p>
                        </a>
                    </li>
                {% endif %}
                {% if request.user.userprofile.role == "Dean" %}
                    <li>
                        <a href="{% url 'a_classroom:activities' %}?from={{ request.path }}" 
                        class="block p-3 text-black border border-black rounded hover:bg-gray-300">
                            <h1 class="text-base font-bold">Activities</h1>
                            <p class="text-sm text-gray-600">User Activity Scores</p>
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a href="{% url 'a_classroom:get-subjects' %}?from={{ request.path }}" 
                       class="block p-3 text-black border border-black rounded hover:bg-gray-300">
                        <h1 class="text-base font-bold">Subjects</h1>
                        <p class="text-sm text-gray-600">View and manage subjects</p>
                    </a>
                </li>
            </ul>
        </div>
        
    {% endif %}
{% endif %}